@font-face{
    font-family: "Agbalumo";
    src: url("/assets/fonts/Agbalumo-Regular.ttf") format("truetype");
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(151, 166, 240);
    background: radial-gradient(circle, rgb(0, 0, 0)50%, rgb(168, 255, 54)100%); /* crea una difusión de color en el centro */
}
h1{
    text-align: center;
    font-family: Agbalumo; /* Aplico fuente Importada */
    color: rgb(103, 196, 215);
}
.inventory-table-styles{
    border-collapse: collapse; /* El contenido de las celdas se junta */
    width: 80%;
    margin: 20px auto;
    color: white;
}
.inventory-table-styles th, 
.inventory-table-styles td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
}
.inventory-table-styles th{
    background-color: #7967fb;
}
.inventory-table-styles tr:hover{
    background-color: black;
    color: white;
}
.product-form-styles{
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid #ef3333;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 20px 20px 30px; /* El primero es a la derecha, el segundo hacia abajo, y el tercero es el difuminado */
}
label {
    display: block; /* Con esto los elementos nunca van a cambiar de sitio aunque la página cambie de tamaño */
    margin-bottom: 10px;
    margin-top: 10px;
    width: 10%;
    padding: 10px;
    border-radius: 3px;
    color: white;
    background-color: #ef3333;
    outline: none;
}
button {
    margin: 2px;
    background-color: #3523b8;
    color: white;
    border-radius: 5px;
}
